<footer>
    <div class="footer-content">
        <p>&copy; <?php echo date("Y"); ?> Programacion Web Dinamica </p>
        <p><a href="https://www.ejemplo.com" target="_blank">Política de Privacidad</a> | <a href="https://www.ejemplo.com" target="_blank">Términos de Uso</a></p>
    </div>
</footer>