body {
    font-family: 'Times New Roman', Times, serif;
    margin: 6;
    padding: 0;
    height: 100vh;
}


label {
    margin-bottom: 5px;
    font-weight: bold;
}
button {
    background-color: #e0e0e0;
    color: rgb(0, 0, 0);
    border-width: 1px;
    border-color: rgb(86, 86, 86);
    cursor: pointer;
}
